.cardStyle {
  margin: 150px;
}
.ContainerList {
  justify-content: center;
}
.list-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px;
}

.card-info {
  list-style: none;
  padding: 10px 30px;
  background-color: #a1d4f6;
  border-radius: 5px;
}
