.title-container {
    position: relative;
    max-width: 100%;
}

.title-container-text {
    width: 100%;
    position: absolute;
    top: 55%;
    text-align: center;
}

.title-container-text p {
    display: inline-block;
    max-width: 700px;
    font-size: 18px;
    line-height: 30px;
}
