.title-container {
  position: relative;
  width: 100%;
}

.title-container-text {
  width: 100%;
  position: absolute;
  top: 55%;
  text-align: center;
}

.title-container-text p {
  display: inline-block;
  width: 90%;
  max-width: 700px;
  font-size: 18px;
  line-height: 30px;
}
#tweet-embed {
  display: flex;
  width: 100vw;
  margin-top: 130px;
  flex-wrap: wrap;
}
.linkedin-badge-container {
  display: flex;
  margin: 100px auto -115px;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-color: #d4cac8;
}
